<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='js/lib/jquery-3.2.1.min.js') }}"></script>
    <title>VAR</title>
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/bot16.png') }}" />
    <script type="text/javascript">
        $(document).ready(function(e) {
            var $select = $('#selCarga');
            if($select.val() == 'Cargar mapa'){
                location.reload(true);
            }
        });
    </script>
</head>
<body>
    <script>
        function cambiarOpcionCarga(){
            var selCarga = document.getElementById("selCarga");
            var abrirMOpc = document.getElementById("abrirMapa");
            var abrirTOpc = document.getElementById("abrirTileset");
            var cargarOpc = document.getElementById("selMap");
            var strongAbreMapa = document.getElementById("strongAbreMapa");
            var strongAbreTileset = document.getElementById("strongAbreTileset");
            var strongCargaMapa = document.getElementById("strongCargaMapa");
            if(selCarga.getElementsByTagName('option')[1].selected){
                cargarOpc.style.display = "block";
                abrirMOpc.style.display = "none";
                abrirTOpc.style.display = "none";
                strongAbreMapa.style.display = "none";
                strongCargaMapa.style.display = "block";
                strongAbreTileset.style.display = "none";

            }else{
                cargarOpc.style.display = "none";
                abrirMOpc.style.display = "block";
                abrirTOpc.style.display = "block";
                strongAbreMapa.style.display = "block";
                strongAbreTileset.style.display = "block";
                strongCargaMapa.style.display = "none";
            }
        }
    </script>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">VAR</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido, {{name}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/login">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="row">
            <h2 class="tituloCarga">CARGAR MAPA</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12" >
                <form action="{{url_for('home', email = name, idUser = idUser) }}" class="form-group" method="post" enctype="multipart/form-data">
                    <strong>Selecciona el tipo de carga</strong><br>
                    <select class="form-control" id="selCarga" name="tipoCarga" style="width: 20%" onchange="cambiarOpcionCarga()">
                        <option>Abrir nuevo mapa</option>
                        <option>Cargar mapa</option>
                    </select>
                    <br>
                    <strong id="strongCargaMapa" style="display: none;">Elige un mapa</strong>
                    <select class="form-control" id="selMap" name="listaMapas" style='height: 100%;width: 35%; display: none' >
                        {% for nombre in mapasUsuario %}
                        <option id="mapaSeleccionado">{{nombre}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <strong id="strongAbreMapa">Abre un mapa JSON</strong>
                    <input type="file" class="btn btn-default btn-file" id="abrirMapa" name="mapaJson">
                    <strong id="strongAbreTileset">Abre un conjunto de patrones</strong>
                    <input type="file" class="btn btn-default btn-file" id="abrirTileset" name="tileSet" accept="image/*">
                    <br>
                    <button type="submit" class="btn btn-primary btn-block" style="width: 20%">Cargar</button>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes-carga">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>
    </div>
</body>
</html>
