<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Entrenamiento</title>
    <script src="{{ url_for('static', filename='js/lib/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/phaser.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Preload.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Game.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/bot16.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
    <script type="text/javascript">
        initURL("{{ urlCirculo }}","{{ urlTesoro }}","{{ urlBot }}","{{urlMapa}}","{{urlTileset}}");
        initGame("{{ nombreTileSet }}","{{ capaObjetos }}","{{capasBackground}}","{{x}}","{{y}}");
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">VAR</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido, {{name}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/login">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-6">
                <br>
                <div class="row" align="center">
                    <input type="button" class="btn btn-success" id="entrenarBtn" value="Entrenar" onclick="empezarJuego()">
                    <input type="button" class="btn btn-warning disabled" id="stopBtn" value="Parar" onclick="pararJuego()" disabled>
                    <input type="button" class="btn btn-primary" id="reiniciarBtn" value="Reiniciar" onclick="reiniciarJuego()">
                    <input type="button" class="btn btn-primary" id="circulos" value="Mostrar/Quitar valoraciones" onclick="circulos()">
                </div>
                <br>
                <div class="row" align="center">
                    <label>Estado : </label>
                    <label id="estado" style="color: red">PARADO</label>
                    <br>
                    <br>
                    <div class="row" id="game">
                        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        ARRIBA: <label id="valArriba">--</label><br>
                        ABAJO: <label id="valAbajo">--</label><br>
                    </div>
                    <div class="col-md-6">
                        IZQUIERDA: <label id="valIzquierda">--</label><br>
                        DERECHA: <label id="valDerecha">--</label><br>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h2>Datos del Aprendizaje</h2>
                    <br>
                    <div class="col-md-6">
                        <form>
                            Gamma:<br>
                            <input type="text" id="gamma"><br><br>
                            Episodios máximos:<br>
                            <input type="text" id="maxPasos"><br><br>
                            Iteraciones máximas por episodio:<br>
                            <input type="text" id="tiempoEpisodio"><br><br>
                            Repeticiones del diferencial de Q:<br>
                            <input type="text" id="repeticionesQ"><br><br>
                            <p id="errorValores" class=flashes-carga style="display: none">FALTAN VALORES POR INTRODUCIR</p>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form>
                            Episodio actual:<br>
                            <div class="panel panel-default">
                                <div class="panel-body" id="episodioActual">0</div>
                            </div>
                            Repeticiones del diferencial de Q:<br>
                            <div class="panel panel-default">
                                <div class="panel-body" id="repDiferencialQ">0</div>
                            </div>
                            Resultado del último episodio:<br>
                            <div class="panel panel-default">
                                <div class="panel-body" id="ultimoScore">--</div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <h2>Recompensas</h2>
                    <br>
                    <div class="col-md-6" id="listaRefuerzos">
                        <ul class="list-group" style="padding: 0;margin: 0;overflow-y: scroll;overflow-x: hidden; width: 12em;height: 12em;line-height: 2em;border: 1px solid">
                            <input type="text" class="list-group-item" placeholder="tesoro" id="tesoro">
                            {% for ref in listaRefuerzos %}
                            <input type="text" class="list-group-item" placeholder="{{ref}}" id="{{ref}}">
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <input type="button" class="btn btn-primary" id="valoresBtn" value="Valores por defecto" onclick="cargarValores()">
                    <input type="button" class="btn btn-success" id="descargaBtn" value="descargar Q-Matrix" onclick="descargarQ()">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
