<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='js/lib/jquery-3.2.1.min.js') }}"></script>
    <title>LoginTFG</title>
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
</head>
<body>
    <div class="container">
        <div class="row" style="background-color: #1b6d85;color: white;">
            <h1 align="center">Visualización de Aprendizaje por Refuerzo</h1>
        </div>
        <div class="row">
            <form action="/login" class="form-signin" method="post">
                <h2 class="form-signin-heading">Registro</h2>
                <label><b>Email</b></label><br>
                <input type="email" name="email" id="inputEmail" class="form-control" required autofocus>
                <label class="lblPwd"><b>Contraseña</b></label><br>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <label><b>Repetir contraseña</b></label>
                <input type="password" name="RepPassword" id="inputRepPassword" class="form-control" required>
                <button type="submit" class="btn btn-success" onclick="location.href='/'">Registrarse</button>
                <button class="btn btn-danger" onclick="location.href='/'">Cancelar</button>
            </form>
        </div>
    </div>
</body>
</html>